/* Devel profile headerbar */

.devel headerbar {
  background: transparent -gtk-icontheme("system-run-symbolic") 80% 0/128px 128px no-repeat,
              linear-gradient(to left,
                              mix(@theme_fg_color, @theme_bg_color, 0.5) 0%,
                              @theme_bg_color 25%);
  color: alpha(@theme_fg_color, 0.2);
}

.devel headerbar label {
    color: @theme_fg_color;
}

/* Devel profile headerbar in selection mode */

.devel headerbar.selection-mode {
    background: transparent -gtk-icontheme("system-run-symbolic") 80% 0/128px 128px no-repeat,
                linear-gradient(to left,
                                @theme_selected_bg_color 0%,
                                @theme_selected_bg_color 25%);
    color: alpha(@theme_fg_color, 0.2);
}

.devel headerbar.selection-mode label {
    color: @theme_selected_fg_color;
}

#RoomImage {
    corner-radius: 50%;
}